@charset "UTF-8";

*{margin: 0; padding: 0;box-sizing: border-box;}
body {height: 100vh; display: grid; place-items: center; background-color: lightblue;}
svg {display: none;}

h1{
    background-image: linear-gradient(rgb(7, 7, 146),rgb(213, 227, 255)); 
    color: transparent; 
    background-clip: text; -webkit-text-stroke: 1px rgb(255,255,255);
    animation: scribble infinite 0.5s;
}
h1:hover {animation-play-state: paused;} /* 마우스 올리면 멈춘다. */

@keyframes scribble {
    0% {filter: url("#scriblle--0");}
    25% {filter: url("#scriblle--1");}
    50% {filter: url("#scriblle--2");}
    75% {filter: url("#scriblle--3");}
    100% {filter: url("#scriblle--4");}
}